---
import { createSlug } from 'src/utils';

interface Props {
  name: string;
  [key: string]: string;
}

const { name = '', ...attributes } = Astro.props;
const { prefixSign } = attributes || {};
---

<a href={createSlug(name)}>
  <span {...attributes}>
    {prefixSign}<i class="">{name}</i>
  </span>
</a>
