---
import DefaultLayout from '@layouts/Default.astro';
import Sidebar from '@components/Sidebar.astro';
import Header from '@components/Header.astro';
import { getCollection } from 'astro:content';
import { kebabCase } from 'src/utils';
import PostItem from '@components/PostItem.astro';

const { tag } = Astro.params;

export async function getStaticPaths(object: any) {
  const blogEntries = await getCollection('blog');

  const tags = Array.from(
    new Set(
      blogEntries
        .map((entry) => {
          return entry.data.tags;
        })
        .flat()
    )
  );

  return tags.map((val) => {
    return {
      params: {
        tag: `tags/${kebabCase(val || '')}`,
      },
    };
  });
}

const postsByTag = await getCollection('blog', (posts) => {
  return posts?.data?.tags?.some(
    (val) => `tags/${kebabCase(val || '')}` === tag
  );
});
---

<DefaultLayout title="Welcome to KC's Blog">
  <div
    class="flex order-2 w-full lg:order-1 lg:top-0 lg:h-screen xl:w-3/12 2xl:w-2/12 lg:w-3/12 bg-gradient-to-tr from-cyan-400 to-blue-500 dark:from-cyan-600 dark:to-blue-600"
  >
    <Sidebar />
  </div>
  <main
    class="flex-1 order-1 lg:flex lg:overflow-y-scroll lg:order-2 lg:w-9/12 xl:w-9/12 2xl:w-10/12 xl:bg-gray-900 grid-bg"
  >
    <div class="flex w-full">
      <div class="flex flex-col w-full bg-white xl:w-8/12 dark:bg-slate-600">
        <Header />
        <div
          class="flex flex-col px-3 py-4 space-y-4 bg-white md:px-6 dark:bg-slate-600"
        >
          {postsByTag.map((post) => <PostItem post={post} />)}
        </div>
      </div>
    </div>
  </main>
</DefaultLayout>
