---
import PageLayout from '@layouts/Page.astro';
import PostItem from '@components/PostItem.astro';
import { kebabCase } from 'src/utils';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');

  const tags = Array.from(
    new Set(
      blogEntries
        .map((entry) => {
          return entry.data.tags;
        })
        .flat()
    )
  );

  return tags.map((val) => {
    return {
      params: {
        tag: `tags/${kebabCase(val || '')}`,
      },
      props: {
        name: val,
      },
    };
  });
}

const { tag } = Astro.params;

interface Props {
  name: string;
}

const postsByTag = await getCollection('blog', (posts) => {
  return posts?.data?.tags?.some(
    (val) => `tags/${kebabCase(val || '')}` === tag
  );
});

const { name } = Astro.props;
---

<PageLayout title={`${name} related posts | KC's Blog`}>
  <div
    class="flex flex-col px-3 py-4 space-y-4 bg-white md:px-6 dark:bg-slate-600"
  >
    {postsByTag.map((post) => <PostItem post={post} />)}
  </div>
</PageLayout>
