---
import { formatDate } from '@utils/format';
import { CalendarDays, Clock } from 'lucide-preact';

interface Props {
	publishedDate: string;
	readingTime: string;
}

const { readingTime, publishedDate } = Astro.props;
const formattedPublishedDate = formatDate(publishedDate);
---

<div class="flex items-center space-x-1 sm:space-x-2">
	<CalendarDays class="w-3 h-3 sm:w-4 sm:h-4" />
	<span
		class="italic text-sm tracking-tighter sm:tracking-tight md:tracking-normal md:text-base"
	>
		{formattedPublishedDate}
	</span>
</div>
<div class="flex items-center space-x-1 sm:space-x-2">
	<Clock class="w-3 h-3 sm:w-4 sm:h-4" />
	<span
		class="italic text-sm tracking-tighter sm:tracking-tight md:tracking-normal md:text-base"
	>
		{readingTime}
	</span>
</div>
