---
import { getCollection } from 'astro:content';

import PostItem from './Item.astro';

const blogEntries = await getCollection('blog');
---

<div
	class="flex flex-col md:space-y-2 bg-white px-3 py-4 dark:bg-slate-600 md:px-6"
>
	{blogEntries.map((post) => <PostItem post={post} />)}
</div>
