@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fira+Mono:wght@400;500;700&display=swap');

.grid-bg {
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/grid.svg);
}
