---
import '../assets/styles/base.css';
import Layout from '../layouts/Layout.astro';
import Message from '../components/Message.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="grid place-items-center h-screen content-center">
      <Message>Ko Chan's Blog</Message>
    </div>
  </main>
</Layout>
