---
import PopoverFilters from './PopoverFilters.astro';

import { getTagName, isBlogRelatedUrl, isTagsUrl, isBlogUrl } from '@utils/url';
import { ArrowLeftCircle } from 'lucide-preact';

const pathname = new URL(Astro.request.url).pathname;
const name = getTagName(pathname);
---

<div class="flex md:space-x-2">
	{
		isBlogRelatedUrl(pathname) ? (
			<>
				<button
					id="back-btn"
					class={`antialiased text-gray-800 dark:text-slate-50 ${
						!isBlogUrl(pathname) ? 'hidden xs:block' : 'block'
					} `}
				>
					<ArrowLeftCircle class="w-4 h-4 md:w-5 md:h-5" />
				</button>
				{isTagsUrl(pathname) ? (
					<>
						<PopoverFilters name={name} />
						<span class="text-md md:text-lg font-light tracking-wide uppercase dark:text-slate-50">
							Posts
						</span>
					</>
				) : (
					<PopoverFilters name="Tags" />
				)}
			</>
		) : (
			<>
				<PopoverFilters name="All" />
				<span class="text-md md:text-lg font-light tracking-wide uppercase dark:text-slate-50">
					Posts
				</span>
			</>
		)
	}
</div>
<script is:inline>
document
	.getElementById('back-btn')
	?.addEventListener('click', () => window.history.go(-1));
</script>
