---
import LeftNavigation from './LeftNavigation.astro';
import RightNavigation from './RightNavigation.astro';
---

<div class="flex items-center justify-between w-full">
	<LeftNavigation />
	<RightNavigation />
</div>
