---
import LeftNavigation from './LeftNavigation.astro';
import RightNavigation from './RightNavigation.astro';
---

<div class="flex items-center justify-between w-full">
  <div class="flex md:space-x-2">
    <LeftNavigation />
  </div>
  <div class="flex items-center space-x-1 md:space-x-3">
    <RightNavigation />
  </div>
</div>
