---
import ThemeToggler from './ThemeToggler.astro';
---

<div class="flex items-center">
	<a
		href="/"
		class="text-md md:text-lg tracking-wide font-light uppercase dark:text-slate-50"
	>
		Home</a
	>
</div>
<div class="flex items-center text-lg font-light tracking-wide uppercase">
	<ThemeToggler />
</div>
