---
import Icon from '@components/Icon.astro';
---

<button id="dark-mode-btn" class="antialiased flex items-center">
	<Icon
		id="theme-toggle-light-icon"
		icon="light-bulb"
		class="hidden w-6 h-6 md:w-7 md:h-7 text-gray-800 dark:text-slate-50 rotate-180"
	/>
	<Icon
		id="theme-toggle-dark-icon"
		icon="close-light-bulb"
		class="ml-1 hidden w-5 h-5 md:w-5 md:h-5 text-gray-800 dark:text-slate-50 rotate-180"
	/>
</button>

<script is:inline>
	const STORAGE_KEY = '@kcb-theme';

	const darkModeBtn = document.getElementById('dark-mode-btn');
	const themeDarkIcon = document.getElementById('theme-toggle-dark-icon');
	const themeLightIcon = document.getElementById('theme-toggle-light-icon');

	const currentTheme = localStorage.getItem(STORAGE_KEY);

	if (
		currentTheme === 'dark' ||
		(!(STORAGE_KEY in localStorage) &&
			window.matchMedia('(prefers-color-scheme: dark)').matches)
	) {
		themeDarkIcon.classList.remove('hidden');
	} else {
		themeLightIcon.classList.remove('hidden');
	}

	const handleOnClickReadingModeToggle = () => {
		themeDarkIcon.classList.toggle('hidden');
		themeLightIcon.classList.toggle('hidden');

		const rootElement = document.documentElement;
		const currentTheme = localStorage.getItem(STORAGE_KEY);
		if (currentTheme === 'light') {
			localStorage.setItem(STORAGE_KEY, 'dark');

			rootElement.classList.add('dark');
			rootElement.classList.remove('light');
		} else {
			localStorage.setItem(STORAGE_KEY, 'light');
			rootElement.classList.add('light');
			rootElement.classList.remove('dark');
		}
	};

	darkModeBtn?.addEventListener('click', handleOnClickReadingModeToggle);
</script>
