---
import PopoverFilters from './PopoverFilters.astro';
import Icon from './Icon.astro';

import { getTagName, isBlogRelatedUrl, isTagsPage } from '@utils/url';

const pathname = new URL(Astro.request.url).pathname;
const name = getTagName(pathname);
---

{
  isBlogRelatedUrl(pathname) ? (
    <>
      <button
        id="back-btn"
        class="antialiased text-lg font-thin tracking-wide uppercase text-gray-800 dark:text-slate-50"
      >
        <Icon icon="back" class="w-6 h-6" />
      </button>
      {isTagsPage(pathname) ? (
        <>
          <PopoverFilters name={name} />
          <span class="text-lg font-thin tracking-wide uppercase dark:text-slate-50">
            Posts
          </span>
        </>
      ) : (
        <PopoverFilters name="Tags" />
      )}
    </>
  ) : (
    <>
      <PopoverFilters name="All" />
      <span class="text-lg font-thin tracking-wide uppercase dark:text-slate-50">
        Posts
      </span>
    </>
  )
}
