---
import { isBlogPage } from 'src/utils';
import PopoverFilters from './PopoverFilters.astro';

const pathname = new URL(Astro.request.url).pathname;
---

<div
  class="sticky top-0 z-10 py-6 pl-4 pr-6 shadow-sm dark:shadow-slate-600 md:px-8 bg-gray-50 dark:bg-slate-700"
>
  <div class="flex items-center justify-between w-full">
    <div class="flex space-x-2 text-lg font-thin tracking-wide uppercase">
      {
        isBlogPage(pathname) ? (
          <Fragment>
            <button id="back-btn">
              <svg
                version="1.2"
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 text-gray-800 dark:text-slate-50"
                viewBox="0 0 24 24"
              >
                <path d="M19.164 19.547c-1.641-2.5-3.669-3.285-6.164-3.484v1.437c0 .534-.208 1.036-.586 1.414-.756.756-2.077.751-2.823.005l-6.293-6.207c-.191-.189-.298-.444-.298-.713s.107-.524.298-.712l6.288-6.203c.754-.755 2.073-.756 2.829.001.377.378.585.88.585 1.414v1.704c4.619.933 8 4.997 8 9.796v1c0 .442-.29.832-.714.958-.095.027-.19.042-.286.042-.331 0-.646-.165-.836-.452zm-7.141-5.536c2.207.056 4.638.394 6.758 2.121-.768-3.216-3.477-5.702-6.893-6.08-.504-.056-.888-.052-.888-.052v-3.497l-5.576 5.496 5.576 5.5v-3.499l1.023.011z" />
              </svg>
            </button>
            <PopoverFilters name="Tags" />
          </Fragment>
        ) : (
          <Fragment>
            <PopoverFilters name="All" />
            <span class="antialiased dark:text-slate-50">Posts</span>
          </Fragment>
        )
      }
    </div>
    <div class="flex items-center space-x-3">
      <div class="flex items-center text-lg font-thin tracking-wide uppercase">
        <a href="/" class="antialiased dark:text-slate-50"> Home</a>
      </div>
      <div class="flex items-center text-lg font-thin tracking-wide uppercase">
        <button id="dark-mode-btn" class="antialiased flex">
          <svg
            id="on-icon"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            class="w-6 h-6 text-gray-800 dark:text-white"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9.663 17h4.673M12 3v1m6.364 1.636-.707.707M21 12h-1M4 12H3m3.343-5.657-.707-.707m2.828 9.9a5 5 0 1 1 7.072 0l-.548.547A3.374 3.374 0 0 0 14 18.469V19a2 2 0 1 1-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547Z"
            ></path></svg
          >
          <!-- <svg
            id="off-icon"
            stroke="currentColor"
            viewBox="0 0 24 24"
            class="w-5 h-5 text-white hidden"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.5c-3.81 0-6.5 2.743-6.5 6.119 0 1.536.632 2.572 1.425 3.56.172.215.347.422.527.635l.096.112c.21.25.427.508.63.774.404.531.783 1.128.995 1.834a.75.75 0 0 1-1.436.432c-.138-.46-.397-.89-.753-1.357a18.354 18.354 0 0 0-.582-.714l-.092-.11c-.18-.212-.37-.436-.555-.667C4.87 12.016 4 10.651 4 8.618 4 4.363 7.415 1 12 1s8 3.362 8 7.619c0 2.032-.87 3.397-1.755 4.5-.185.23-.375.454-.555.667l-.092.109c-.21.248-.405.481-.582.714-.356.467-.615.898-.753 1.357a.75.75 0 0 1-1.437-.432c.213-.706.592-1.303.997-1.834.202-.266.419-.524.63-.774l.095-.112c.18-.213.355-.42.527-.634.793-.99 1.425-2.025 1.425-3.561C18.5 5.243 15.81 2.5 12 2.5zM9.5 21.75a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1-.75-.75zM8.75 18a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5h-6.5z"
            ></path></svg
          > -->
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const STORAGE_KEY = '@kcb-theme';

  const darkModeBtn = document.getElementById('dark-mode-btn');

  darkModeBtn?.addEventListener('click', () => {
    const currentTheme = localStorage.getItem(STORAGE_KEY);
    if (currentTheme === 'light') {
      localStorage.setItem(STORAGE_KEY, 'dark');

      document.documentElement.classList.add('dark');
      document.documentElement.classList.remove('light');
    } else {
      localStorage.setItem(STORAGE_KEY, 'light');
      document.documentElement.classList.add('light');
      document.documentElement.classList.remove('dark');
    }
  });
</script>

<script is:inline>
  const backBtn = document.getElementById('back-btn');
  backBtn?.addEventListener('click', () => {
    window.history.go(-1);
  });
</script>
