---
import HeaderNavigation from './HeaderNavigation.astro';
import Icon from './Icon.astro';
---

<div
  class="sticky top-0 z-10 py-6 pl-4 pr-6 shadow-sm dark:shadow-slate-600 md:px-8 bg-gray-50 dark:bg-slate-700"
>
  <div class="flex items-center justify-between w-full">
    <div class="flex space-x-2">
      <HeaderNavigation />
    </div>
    <div class="flex items-center space-x-3">
      <div class="flex items-center">
        <a
          href="/"
          class="text-lg font-thin tracking-wide uppercase dark:text-slate-50"
        >
          Home</a
        >
      </div>
      <div class="flex items-center text-lg font-thin tracking-wide uppercase">
        <button id="dark-mode-btn" class="antialiased flex">
          <Icon
            icon="light-bulb"
            class="w-6 h-6 text-gray-800 dark:text-white"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const STORAGE_KEY = '@kcb-theme';

  const darkModeBtn = document.getElementById('dark-mode-btn');

  darkModeBtn?.addEventListener('click', () => {
    const currentTheme = localStorage.getItem(STORAGE_KEY);
    if (currentTheme === 'light') {
      localStorage.setItem(STORAGE_KEY, 'dark');

      document.documentElement.classList.add('dark');
      document.documentElement.classList.remove('light');
    } else {
      localStorage.setItem(STORAGE_KEY, 'light');
      document.documentElement.classList.add('light');
      document.documentElement.classList.remove('dark');
    }
  });
</script>

<script is:inline>
  const backBtn = document.getElementById('back-btn');
  backBtn?.addEventListener('click', () => {
    window.history.go(-1);
  });
</script>
