---
import { Image } from '@astrojs/image/components';

interface Props {
  src?: string;
  alt?: string;
  name?: string;
  link?: string;
}

const { src, alt, name, link } = Astro.props;
---

{
  src && (
    <>
      <Image
        aspectRatio="1:1"
        format="webp"
        width={1200}
        height={589}
        alt={alt || ''}
        src={src || ''}
        class="rounded-md object-cover"
      />
      <span class="inline-block w-full text-center text-xs sm:text-sm font-thin italic text-gray-400 dark:text-slate-400">
        {alt} by{' '}
        <a href={link} class="border-b border-dashed border-gray-300 dark:border-slate-500">
          {name}
        </a>
      </span>
    </>
  )
}
