---
import { Img } from 'astro-imagetools/components';

interface Props {
  src?: string;
  alt?: string;
  name?: string;
  link?: string;
}

const { src, alt, name, link } = Astro.props;
---

{
  src && (
    <>
      <Img
        format="webp"
        width={1200}
        height={589}
        alt={alt || ''}
        src={src || ''}
      />
      <span class="inline-block w-full text-center text-sm font-thin italic text-gray-400 dark:text-slate-400">
        {alt} by{' '}
        <a href={link} class="border-b border-dashed border-gray-300">
          {name}
        </a>
      </span>
    </>
  )
}
