---
import { Github, Twitter } from 'lucide-preact';
---

<div role="contentinfo" class="flex items-center justify-center space-x-6 px-6">
	<a href="https://twitter.com" target="_blank" rel="noreferrer">
		<Twitter
			size={24}
			class="text-gray-800 fill-gray-800 dark:fill-slate-100 dark:text-slate-100"
		/>
	</a>
	<a href="https://github.com" target="_blank" rel="noreferrer">
		<Github
			size={24}
			class="text-gray-800 fill-gray-800 dark:fill-slate-100 dark:text-slate-100"
		/>
	</a>
</div>
