---
import Icon from './Icon.astro';
import SocialLink from './SocialLink.astro';
---

<div class="flex items-center justify-center px-6 space-x-6">
  <SocialLink url="https://twitter.com">
    <Icon icon="twitter" class="h-6 w-6 fill-gray-800 dark:fill-slate-50" />
  </SocialLink>
  <SocialLink url="https://github.com">
    <Icon icon="github" class="h-7 w-7 fill-gray-800 dark:fill-slate-50" />
  </SocialLink>
</div>
