---
import '@styles/base.css';

import type { PageMeta } from '@src/types';

interface Props extends Pick<PageMeta, 'title'> {}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-col h-screen lg:flex-row">
      <slot />
    </div>
  </body>
</html>

<script>
  const STORAGE_KEY = '@kcb-theme';

  const theme = (() => {
    if (
      typeof localStorage !== 'undefined' &&
      localStorage.getItem(STORAGE_KEY)
    ) {
      return localStorage.getItem(STORAGE_KEY);
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem(STORAGE_KEY, theme || 'light');
</script>
