---
import '@styles/base.css';
import { STORAGE_KEY } from 'src/meta-data';

import type { PageMeta } from 'src/types';

interface Props extends Pick<PageMeta, 'title'> {}

const { title } = Astro.props;
const localStorageKey = STORAGE_KEY;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-col h-screen lg:flex-row">
      <slot />
    </div>
  </body>
</html>

<script define:vars={{ localStorageKey }}>
  // NOTE: localStorageKey is defined in the <script> tag above, but got problem now, not recognizing it
  const STORAGE_KEY = localStorageKey;

  const theme = (() => {
    if (
      typeof localStorage !== 'undefined' &&
      localStorage.getItem(STORAGE_KEY)
    ) {
      return localStorage.getItem(STORAGE_KEY);
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem(STORAGE_KEY, theme || 'light');
</script>
