---
import DefaultLayout from '@layouts/Default.astro';
import Header from '@components/Header.astro';
import Sidebar from '@components/Sidebar.astro';
import type { SeoMetaData } from '@utils/meta';

export interface Props {
  metaData?: SeoMetaData;
}

const { metaData } = Astro.props;
---

<DefaultLayout>
  <div
    class="order-2 flex w-full bg-gradient-to-tr from-cyan-400 to-blue-500 dark:from-cyan-600 dark:to-blue-600 lg:top-0 lg:order-1 lg:h-screen lg:w-3/12 xl:w-3/12 2xl:w-2/12"
  >
    <Sidebar />
  </div>
  <main
    class="grid-bg order-1 flex-1 lg:order-2 lg:flex lg:w-9/12 lg:overflow-y-scroll xl:w-9/12 xl:bg-gray-900 2xl:w-10/12"
  >
    <div class="flex w-full">
      <div class="flex w-full flex-col bg-white dark:bg-slate-600 xl:w-8/12">
        <Header />
        <slot />
      </div>
    </div>
  </main>
</DefaultLayout>
